# SPDX-FileCopyrightText: 2023 kinduff
# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "item.old in vars"
  with_items:
    - { "old": "linkding_database_engine", "new": "linkding_database_type" }

- name: Fail if required linkding settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - linkding_identifier
    - linkding_uid
    - linkding_gid
    - linkding_hostname
    - linkding_path_prefix
    - linkding_container_network
    - linkding_database_hostname
    - linkding_database_password

- name: Run if Traefik is enabled
  when: linkding_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required linkding Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - linkding_container_labels_traefik_hostname
        - linkding_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `linkding_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if linkding_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          linkding_container_labels_traefik_path_prefix (`{{ linkding_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/linkding`).
      when: "linkding_container_labels_traefik_path_prefix != '/' and linkding_container_labels_traefik_path_prefix[-1] == '/'"
