# SPDX-FileCopyrightText: 2023 kinduff
# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "linkding_database_engine", "new": "linkding_database_type" }
    - { "old": "linkding_environment_variable_database_engine", "new": "linkding_database_type" }
    - { "old": "linkding_environment_variable_database_username", "new": "linkding_database_username" }
    - { "old": "linkding_environment_variable_database_password", "new": "linkding_database_password" }
    - { "old": "linkding_environment_variable_database_hostname", "new": "linkding_database_hostname" }
    - { "old": "linkding_environment_variable_database_port", "new": "linkding_database_port" }
    - { "old": "linkding_environment_variable_database_name", "new": "linkding_database_name" }
    - { "old": "linkding_environment_variable_superuser_username", "new": "linkding_superuser_username" }
    - { "old": "linkding_environment_variable_superuser_password", "new": "linkding_superuser_password" }
    - { "old": "linkding_http_header_content_permission_policy", "new": "linkding_http_header_permissions_policy" }

- name: Fail if required linkding settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - linkding_identifier
    - linkding_uid
    - linkding_gid
    - linkding_hostname
    - linkding_path_prefix
    - linkding_container_network
    - linkding_database_password

- name: Fail if linkding database type invalid
  ansible.builtin.fail:
    msg: >-
      linkding_database_type must be 'postgres' or 'sqlite'
  when: "linkding_database_type not in ['postgres', 'sqlite']"

- name: Fail if required linkding + Postgres integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `linkding_database_type` is `postgres`
  when: "linkding_database_type == 'postgres' and lookup('vars', item, default='') | string | length == 0"
  with_items:
    - linkding_database_password

- name: Run if Traefik is enabled
  when: linkding_container_labels_traefik_enabled | bool
  block:
    - name: Fail if Traefik settings required for linkding are not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - linkding_container_labels_traefik_hostname
        - linkding_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `linkding_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if linkding_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          linkding_container_labels_traefik_path_prefix (`{{ linkding_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/linkding`).
      when: "linkding_container_labels_traefik_path_prefix != '/' and linkding_container_labels_traefik_path_prefix[-1] == '/'"
